<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- Database Driver -->
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <!-- JDBC Connection Pool -->
        <property name="connection.pool_size">1</property>

        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second level cache -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <!-- Show SQL Logs -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- List of Entity classes -->
        <mapping class="com.java.hibernate.entity.single_table.Vehicle" />
        <mapping class="com.java.hibernate.entity.single_table.TwoWheelerVehicle" />
        <mapping class="com.java.hibernate.entity.single_table.FourWheelerVehicle" />

        <mapping class="com.java.hibernate.entity.table_per_class.Animal" />
        <mapping class="com.java.hibernate.entity.table_per_class.Birds" />
        <mapping class="com.java.hibernate.entity.table_per_class.Mammals" />

        <mapping class="com.java.hibernate.entity.joined_table.Employee" />
        <mapping class="com.java.hibernate.entity.joined_table.Developer" />
        <mapping class="com.java.hibernate.entity.joined_table.Manager" />

    </session-factory>
</hibernate-configuration>